@model ReflectionIT.Mvc.Paging.PagingList<NerdShop.WebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 class="title-home">Produtos</h1>

<form method="get" class="form-inline">
    <div class="row">
        <div class="col-4">
            <input name="filter" class="form-control" placeholder="filtro" value="@Model.RouteValue["Filter"]" />
        </div>
        <div class="col-4">
            <button type="submit" class="btn cart-button-info"> Pesquisar</button>
        </div>
    </div>
</form>

Total de Produtos : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table table-bordered table-title-font text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFavoriteProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody class="table-content-font">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFavoriteProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
