@model ShoppingCartViewModel

<div class="Container">
    <div class="row checkoutForm">
        <div class="col-md-4">
            <i class="fa fa-shopping-cart fa-2x icon-color-blue" aria-hidden="true"></i>
            <span class="title-order">Seu carrinho de compras</span>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Produto</th>
                    <th class="text-right">Preço</th>
                    <th class="text-right">SubTotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="text-center">@item.Quantity</td>
                        <td class="text-left">@item.Product.Name</td>
                        <td class="text-right">@item.Product.Price.ToString("c")</td>
                        <td class="text-right">@((item.Quantity * item.Product.Price).ToString("c"))</td>
                        <td class="text-center">
                            <a asp-controller="ShoppingCart" asp-action="RemoveItemFromShoppingCart"
                            asp-route-productId="@item.Product.ProductId">
                                <i class="fa fa-trash icon-color-red" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.TotalShoppingCart.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right">
            <div class="btn-group">
                <a class="btn cart-button-success" asp-controller="Order" asp-action="Checkout">Encerrar Pedido</a>
                &nbsp;&nbsp;
                <a class="btn cart-button-info" asp-controller="Product" asp-action="List">Continuar Comprando</a>
            </div>
        </div>
        <br />
    </div>
</div>